.Main,
.AddPost,
.PostView {
  width: 600px;
  margin: 30px auto;
  padding: 20px 30px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.Main__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.Main__addpost {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form__close,
.PostView__close {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  line-height: 30px;
}

.Form__textarea {
  padding: 10px 15px;
  box-sizing: border-box;
  border: 2px solid rgb(65, 121, 225);
  font-size: 16px;
  margin-bottom: 5px;
}

.Form__button,
.PostView__edit,
.PostView__delete {
  display: block;
  border: none;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 2px;
  background-color: rgb(22, 89, 177);
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.Post {
  border: 2px solid royalblue;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.Post__date {
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  background-color: skyblue;
  font-weight: bold;
}

.Post__content {
  padding: 5px 15px;
}

.PostView__delete {
  background-color: firebrick;
}